<turbo-stream action="replace" target="incidents">
  <template>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% @incidents.each do |incident| %>
        <%= render IncidentCardComponent.new(incident: incident) %>
      <% end %>
    </div>
  </template>
</turbo-stream>
