<% content_for(:title, "Incident List") %>

<%= turbo_frame_tag "incidents" do %>
    <div class="flex justify-between items-center mb-6 px-6 py-4 bg-gray-200 rounded-lg shadow-lg">
    <h1 class="text-4xl font-extrabold text-gray-800">Incident List</h1>
    <div class="flex space-x-4">
      <%= link_to "Sort ASC", slack_incident_list_path(sort: "asc"), data: { turbo_frame: "incidents" }, class: "px-6 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-500 transition duration-300 ease-in-out" %>
      <%= link_to "Sort DESC", slack_incident_list_path(sort: "desc"), data: { turbo_frame: "incidents" }, class: "px-6 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-500 transition duration-300 ease-in-out" %>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 px-6 py-4">
    <% @incidents.each do |incident| %>
      <%= render IncidentCardComponent.new(incident: incident) %>
    <% end %>
  </div>
<% end %>